.card-title {
    font-family: 'Arial', sans-serif; /* 使用 Arial 字体 */
    font-size: 15px; /* 设置字体大小为 20px */
    color: #333; /* 设置字体颜色为深灰色 */
    text-align: center;
    /* 添加其他你想要的样式 */
}
.text-center {
    text-align: center;
}